.mdl-typography--display-2 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
form {
  max-width: none !important;
  padding: 1em 0;
}
.container form .mdl-button {
  margin: 1em auto;
}
.mdl-radio {
  margin: 1em 0;
  display: block;
}
