.mail-container {
	box-sizing: border-box;
	margin: 1em auto;
	max-width: 80%;
	padding: 1em;
	border-radius: 8px;
	border: solid 1px #bbb;
}
.mail-container pre {
	width: 100%;
	border: none;
	background: transparent;
	outline: none;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}